<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header') %>

<body>

  <div class="wrapper">
    <h1><%= pageTitle %></h1>

    <div class="gallery">
      <!-- Dynamic content here -->
    </div>
  
  </div>

</body>

  <%- include('../partials/footer')  %>

</html>